* {
  margin: 0;
  padding: 0;
}
body {
  background: rgba(0, 0, 0, 0.377);
}

.main-container {
  width: 320px;
  min-height: 560px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  display: block;
  background: rgba(255, 255, 255, 0.932);
}
.nav-container {
  padding: 10px 0px;
  color: rgba(32, 32, 32, 0.925);
}
.nav-container .navbar {
  padding: 5px 20px;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-evenly;
}
.navbar li {
  cursor: pointer;
}
.active {
  color: rgb(255, 38, 0);
}
.result-container {
  height: 200px;
  overflow: scroll;
  word-break: break-all;
  font-size: 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.123);
  margin: 0px 15px;
}

.keypad-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-items: center;
  padding: 5px;
}

.keypad-container input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 24px;
  cursor: pointer;
  margin: 5px;
  width: 50px;
  height: 50px;
}
#icon {
  width: 50px;
  height: 50px;
  background: transparent;
  border: 0;
  outline: 0;
  margin: 5px;
}
.dot {
  font-size: 5px;
}
.keypad-container input:hover,
#icon:hover {
  background-color: rgba(80, 79, 79, 0.103);
}
.keypad-container input::-moz-focus-inner,
#icon::-moz-focus-inner {
  border: 0;
}

.org-key {
  color: rgb(255, 38, 0);
}
.keypad-container .equal-key {
  border-radius: 50%;
  background-color: rgb(255, 38, 0);
  color: #fff;
  box-shadow: 0.2px 0.2px 10px rgba(168, 108, 28, 0.267),
    -0.2px -0.2px 10px rgba(243, 155, 40, 0.034);
}
.keypad-container .equal-key:hover {
  background-color: rgb(255, 38, 0);
}
.Life-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.Life-container .box {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.712);
  cursor: pointer;
}

.Life-container .box p {
  padding: 5px 0px;
  font-size: 12px;
}
.Life-container .box:hover {
  background-color: rgba(80, 79, 79, 0.103);
}

.header {
  display: flex;
  padding: 15px 5px;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(58, 58, 58, 0.185);
}
.header .back-btn {
  border: 0;
  outline: 0;
  background: transparent;
  font-size: 16px;
  padding-left: 12px;
  color: #626060db;
}
.header p {
  position: relative;
  text-align: center;
  width: 100%;
}
.content {
  padding: 5px 0px;
}
.date {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 20px;
  border-bottom: 1px solid rgba(58, 58, 58, 0.185);
}

.calendar {
  position: absolute;
  width: 280px;
  left: 20px;
  top: 200px;
}

#date_row {
  cursor: pointer;
  display: inline;
  padding: 0px 5px;
}
.next_birth_dm {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  padding: 15px 0px;
}
#border {
  margin-left: 5px;
  padding-left: 5px;
  border-left: 1.5px solid gray;
}

.summary {
  padding: 5px 20px;
  box-sizing: border-box;
}
.summary-row1 {
  display: flex;
  padding-bottom: 2px;
  border-bottom: 1px solid rgba(29, 29, 29, 0.205);
}
.summary .summary-big-box {
  padding: 10px 5px;
  text-align: center;
  width: 50%;
}
.summary .summary-big-box:nth-child(1) {
  border-right: 1px solid rgba(29, 29, 29, 0.205);
}

.summary .summary-big-box .nextbirthday-heading {
  padding-top: 10px;
  color: rgb(255, 85, 0);
  font-size: 14px;
}
.cakeicon {
  margin-top: 5px;
  padding: 10px 10px;
  color: #fff;
  background-color: rgb(255, 85, 0);
  border-radius: 50%;
}
.nextbirthday_icon {
  padding: 10px 0px;
}
.summary .summary-big-box .age-title {
  font-size: 40px;
  color: rgb(97, 94, 86);
}
.summary .summary-big-box .year {
  font-size: 45px;
  color: rgb(255, 85, 0);
}
.summary .summary-big-box span {
  font-size: 16px;
  color: rgb(97, 94, 86);
}

.summary .TotalSummary {
  grid-column: 1/3;
}
.summary .TotalSummary .summary-heading {
  color: rgb(255, 85, 0);
  text-align: center;
  padding: 10px 0px;
}
.summary .TotalSummary .totalSummary-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.totalSummary-content-row {
  display: flex;
  width: 100%;
  justify-content: center;
  box-sizing: border-box;
}

.summary-box {
  padding: 20px 20px;
}
.sbfont {
  color: rgba(32, 31, 29, 0.8);
  font-size: 12px;
}
.error {
  position: absolute;
  background: rgb(255, 255, 255);
  color: #000;
  top: 320px;
  border-radius: 13px;
  font-size: 12px;
  padding: 10px 10px;
  box-shadow: 0.1px 0.1px 20px 0.2px #d5c4c4;
  transform: translate(8px, 0px);
}

.custom_calender {
  padding: 10px;
  border: 1px solid red;
  text-align: center;
  margin: 5px 10px;
  box-sizing: border-box;
  position: relative;
}
.container-dmy {
  columns: 3;
  padding: 5px;
  position: relative;
  overflow: hidden;
}
.test_cal {
  overflow: hidden;
  width: 80px;
}

.cal_date,
.cal_month,
.cal_year {
  height: 145px;
  width: 90px;
  overflow: auto;
  scroll-behavior: smooth;
}

.container-dmy ul {
  list-style: none;
}
.container-dmy ul li {
  padding: 5px 0px;
}
.selector {
  position: absolute;
  top: 90px;
  left: 0;
  height: 20px;
  padding: 5px 0px;
  border-top: 1px solid red;
  border-bottom: 1px solid red;
  width: 90%;
  margin: 0 15px;
  cursor: pointer;
  z-index: -1;
}
.cal_bottom_btn {
  margin-top: 5px;
}
.cal_bottom_btn input {
  padding: 10px 0px;
  margin: 5px;
  font-size: 16px;
  width: 40%;
  background-color: rgb(255, 85, 0);
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.cal_bottom_btn input:nth-child(1) {
  background-color: rgba(105, 105, 105, 0.144);
  color: #000;
}

#subHeading {
  margin: 20px auto;
  color: rgb(255, 85, 0);
  text-align: center;
  font-size: 22px;
}

.BasickeypadContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.KeypadLeftSide {
  grid-template-columns: auto auto auto;
  justify-items: center;
  padding: 5px;
}
.KeypadLeftSide input {
  width: 60px;
  height: 60px;
}
.KeypadRightSide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 245px;
}
.KeypadRightSide > input,
.KeypadRightSide button {
  width: 50px;
  height: 100px;
  border: 1px solid silver;
  outline: none;
  background: transparent;
  font-size: 24px;
  cursor: pointer;
  margin: 5px 5px;
  border-radius: 25px;
}

.KeypadRightSide > input:hover,
.KeypadRightSide button:hover {
  background-color: rgba(80, 79, 79, 0.103);
}
#notusedbtn:hover {
  cursor: default;
  background-color: transparent;
}
.content_section {
  margin: 20px 10px 0px 10px;
  padding-bottom: 40px;
  border-bottom: 1px solid silver;
}
.items {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
}
.items span:nth-child(2) {
  min-width: 160px;
  text-align: right;
}

.content_section_2 {
  margin-top: 15px;
  text-align: center;
  color: rgb(97, 94, 86);
}

.current {
  color: rgb(255, 85, 0);
}
.choose {
  cursor: pointer;
}
.contentSection {
  margin: 5px 5px;
  padding-bottom: 40px;
  border-bottom: 1px solid silver;
}

.contentSection .items select {
  border: 0;
  outline: 0;
  background: transparent;
  font-size: 16px;
  appearance: none;
  cursor: pointer;
}

