* {
  margin: 0;
  padding: 0;
}

body {
  background: rgba(59, 59, 59, 0.938);
}

@media only screen and (max-width: 399px) {
  .main-container {
    min-width: 100%;
    height: 100vh;
  }
  .keypad_section{
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
    padding: 10px 0px;
  }
}

@media only screen and (min-device-width: 400px) and (max-device-width: 800px) and (orientation: landscape) {
  .main-container {
    width: 100%;
    min-height: 100vh;
  }
}

.container-body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  width: 340px;
  background: rgba(255, 255, 255);
  min-height: 610px;

}
.nav-container {
  padding: 10px 0px;
  color: rgba(32, 32, 32, 0.925);
}
.nav-container .navbar {
  padding: 5px 0px;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-around;
}
.navbar li {
  cursor: pointer;
}
.active {
  color: rgb(255, 38, 0);
}
.result-container {
  position: relative;
  height: 210px;
  overflow-y: scroll;
  word-break: break-all;
  font-size: 22px;
  margin: 0px 15px;
}
.prev-result {
  text-align: right;
  font-size: 16px;
  color: rgba(17, 17, 17, 0.685);
}
.prev-result-padd {
  padding-bottom: 30px;
}
.prev-result > div {
  padding: 5px 0px;
}
.exp-with-result {
  position: relative;
  bottom: 0;
  text-align: right;
  color: rgba(17, 17, 17, 0.685);
}

.active-result {
  font-size: 28px;
  color: #000;
}
.active-exp-span {
  border: 0.5px solid rgb(255, 38, 0);
  background-color: rgba(255, 38, 0, 0.301);
  border-radius: 5px;
}
.exp-span {
  padding: 3px 3px;
  line-height: 40px;
}

.keypad-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-top: 1px solid silver;
  margin: 0px 5px;
}

.flex-row {
  display: flex;
}

.flex-row input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 24px;
  cursor: pointer;
  margin: 5px;
  width: 75px;
  height: 60px;
  border-radius: 50%;
  transition: 0.2s ease-in;
}

#icon {
  width: 75px;
  height: 60px;
  background: transparent;
  border: 0;
  outline: 0;
  margin: 5px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s ease-in;
}
.dot {
  font-size: 5px;
}

.keypad-container input::-moz-focus-inner,
#icon::-moz-focus-inner {
  border: 0;
}

.org-key {
  color: rgb(255, 38, 0);
  cursor: pointer;
}

.flex-row .equal-key {
  font-size: 40px;
  border-radius: 30px;
  width: 160px;
  background: transparent;
  border: 1px solid silver;
  color: rgb(255, 38, 0);
  transition: 0.3s ease-in;
}

.keypad-container .checkmark {
  margin-top: 5px;
  height: 50px;
  font-size: 16px;
  border: none;
  background-color: rgb(255, 38, 0);
  color: #fff;
  cursor: pointer;
}

.disable-btn {
  color: rgba(255, 38, 0, 0.342);
}

.Container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.Container .box {
  width: 100px;
  height: 90px;
  margin: 5px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.712);
  cursor: pointer;
}
.Container #box-icon {
  font-size: 18px;
}
.Container .box p {
  padding: 5px 0px;
  font-size: 14px;
  text-align: center;
}

.header {
  display: flex;
  padding: 15px 5px;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(58, 58, 58, 0.185);
}
.header .back-btn {
  border: 0;
  outline: 0;
  background: transparent;
  font-size: 16px;
  padding-left: 12px;
  color: #626060db;
}
.header p {
  position: relative;
  text-align: center;
  width: 100%;
}
.content {
  padding: 5px 0px;
}
.date {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 20px;
  border-bottom: 1px solid rgba(58, 58, 58, 0.185);
}
.calendar {
  position: absolute;
  width: 280px;
  left: 30px;
  top: 200px;
}
#date_row {
  cursor: pointer;
  display: inline;
  padding: 0px 5px;
}
.next_birth_dm {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  padding: 15px 0px;
}
#border {
  margin-left: 5px;
  padding-left: 5px;
  border-left: 1.5px solid gray;
}

.summary {
  padding: 5px 20px;
  box-sizing: border-box;
}
.summary-row1 {
  display: flex;
  padding-bottom: 2px;
  border-bottom: 1px solid rgba(29, 29, 29, 0.205);
}
.summary .summary-big-box {
  padding: 10px 5px;
  text-align: center;
  width: 50%;
}
.summary .summary-big-box:nth-child(1) {
  border-right: 1px solid rgba(29, 29, 29, 0.205);
}

.summary .summary-big-box .nextbirthday-heading {
  padding-top: 10px;
  color: rgb(255, 85, 0);
  font-size: 14px;
}
.cakeicon {
  margin-top: 5px;
  padding: 10px 10px;
  color: #fff;
  background-color: rgb(255, 85, 0);
  border-radius: 50%;
}
.nextbirthday_icon {
  padding: 10px 0px;
}
.summary .summary-big-box .age-title {
  font-size: 40px;
  color: rgb(97, 94, 86);
}
.summary .summary-big-box .year {
  font-size: 45px;
  color: rgb(255, 85, 0);
}
.summary .summary-big-box span {
  font-size: 16px;
  color: rgb(97, 94, 86);
}

.summary .TotalSummary {
  grid-column: 1/3;
}
.summary .TotalSummary .summary-heading {
  color: rgb(255, 85, 0);
  text-align: center;
  padding: 10px 0px;
}
.summary .TotalSummary .totalSummary-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.totalSummary-content-row {
  display: flex;
  width: 100%;
  justify-content: center;
  box-sizing: border-box;
}

.summary-box {
  padding: 20px 20px;
}
.sbfont {
  color: rgba(32, 31, 29, 0.8);
  font-size: 12px;
}
.error {
  position: absolute;
  background: rgb(255, 255, 255);
  color: #000;
  top: 320px;
  border-radius: 13px;
  font-size: 12px;
  padding: 10px 10px;
  box-shadow: 0.1px 0.1px 20px 0.2px #d5c4c4;
  transform: translate(8px, 0px);
}
#subHeading {
  margin: 20px auto;
  color: rgb(255, 85, 0);
  text-align: center;
  font-size: 22px;
}

.diffrence_date {
  margin: 60px auto;
}

.basic-dot {
  border: 0;
  outline: 0;
  background: transparent;
  font-size: 5px;
  width: 75px;
  height: 60px;
  border-radius: 50%;
  transition: 0.2s ease-in;
  cursor: pointer;
}
.basic-keypad-container {
  display: flex;
  flex-direction: column;
  margin: 5px auto;
  border-top: 1px solid silver;
}
#backspace {
  border: 0;
  background: transparent;
  width: 70px;
  height: 60px;
  margin: 5px;
  outline: none;
}

#tempPlusMinusbtn {
  color: rgb(255, 85, 0);
}

.content_section {
  margin: 15px 10px 15px 10px;
}
.itemsWrapper {
  padding: 30px 0px 30px 0px;
}
.content_section .items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0px 15px 0px;
}
.items span:nth-child(2) {
  min-width: 160px;
  text-align: right;
  cursor: pointer;
}
#no-curPointer {
  cursor: default;
}
.content_section_2 {
  margin-top: 60px;
  text-align: center;
  color: rgb(97, 94, 86);
}

.current {
  color: rgb(255, 85, 0);
}
.choose {
  cursor: pointer;
}
.contentSection {
  margin: 20px 5px 30px 5px;
}
.contentSection .items {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px 0px 0px;
}
.contentSection .items select {
  border: 0;
  outline: 0;
  background: transparent;
  font-size: 16px;
  appearance: none;
  overflow: hidden;
  cursor: pointer;
  text-overflow: clip;
  width: 123px;
}

#selected-subtitle {
  font-size: 12px;
  text-align: right;
  color: rgba(19, 18, 18, 0.61);
}

.content-section-currency {
  margin-top: 5px;
}
.content-section-currency .itemsWrapper {
  padding: 15px 0px 15px 0px;
}
#fetching-data {
  font-size: 10px;
  color: rgba(17, 17, 16, 0.712);
  margin-left: 5px;
}
#fetching-data span {
  color: rgb(255, 30, 0);
}
.gst-list ul {
  list-style: none;
  display: flex;
  border: 1px solid rgba(192, 192, 192, 0.185);
  border-radius: 10px;
  overflow: hidden;
}
.gst-list ul li {
  padding: 10px 10px;
}
.gst-list ul li:not(:last-child) {
  border-right: 1px solid rgba(192, 192, 192, 0.185);
}
.gst-list .current-gst {
  background-color: rgb(255, 85, 0);
  color: #fff;
}
